<!-- Clients Aside -->
    <section id="team">
    <aside class="clients" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organisers</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 logo">
                    <a href="http://www.european-athletics.org" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/ea_logo.png" class="img-responsive img-centered" alt="European Athletics">
                    </a>
                </div>
                <div class="col-md-3 logo">
                    <a href="https://www.worldathletics.org/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2021_style/img/logos/wa-logo.jpg" class="img-responsive img-centered" alt="World Athletics">
                    </a>
                </div>
                <div class="col-md-3 logo">
                    <a href="https://trackmeetings.info/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2021_style/img/logos/tmi-logo.png" class="img-responsive img-centered" alt="TrackMeetingsInfo">
                    </a>
                </div>
                <div class="col-md-3 logo">
                    <a href="https://opentrack.run/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/opentrack.png" class="img-responsive img-centered" alt="OpenTrack">
                    </a>
                </div>
                <div class="col-md-3 logo">
                    <a href="http://www.eap-circuit.org/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2021_style/img/logos/eap-logo.png" class="img-responsive img-centered" alt="EAP circuit">
                    </a>
                </div>
                <div class="col-md-3 logo">
                    <a href="https://www.unizd.hr/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2021_style/img/zadar-uni-logo-1.png" class="img-responsive img-centered" alt="University of Zadar">
                    </a>
                </div>
                <div class="col-md-3 logo">
                    <a href="https://visnjik.hr/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2021_style/img/visnjik-logo-1.png" class="img-responsive img-centered" alt="Športski Centar Višnjiks">
                    </a>
                </div>
               
            </div>
    </aside>
</section>