<style>
body {
  position: absolute;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
#youstar-logo {
    height: 40px;
}
#ea-logo {
    height: 80px;
}
#smr-logo {
    height: 100px;
}
</style>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <span class="copyright">Organized by:<br>
                    <a href="http://www.european-athletics.org/"><img class="sponsor" src="{{ '/css/2025_style/img/logos/ea_logo.png' | prepend: site.baseurl }}" alt="European Athletics" id="ea-logo" ></a>
                </span>
            </div>
            <div class="col-xs-4">
                <span class="copyright">Hosted by:<br> 
                    <a href="https://www.fsal.sm/"><img class="sponsor" src="{{ '/css/2025_style/img/logos/sanmarino.png' | prepend: site.baseurl }}" alt="San Marino Athletics Federation" id="smr-logo"></a>
                </span>
            </div>
            <div class="col-xs-4">
                <span class="copyright">Supported by:<br>
                    <img class="sponsor" id="youstar-logo" src="{{ '/css/2025_style/img/logos/youstar.png' | prepend: site.baseurl }}" alt="YouStar"  >
                </span>
            </div>
            <!-- div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
                    {% endfor %}
                </ul>
            </div-->
        </div>
    </div>
</footer>