<style>
body {
  position: absolute;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">© {{ 'now' | date: "%Y" }}. Organized by<br>
                    <a href="http://www.european-athletics.org/"><img src="{{ '/css/2025_style/img/logos/ea_logo.png' | prepend: site.baseurl }}" alt="European Athletics" height="80" ></a> hosted by <a href="https://www.fsal.sm/"><img src="{{ '/css/2025_style/img/logos/sanmarino.png' | prepend: site.baseurl }}" alt="San Marino Athletics Federation" height="50" ></a>
                </span>
            </div>
            <div class="col-md-4">
                <span class="copyright">Hosted by <a href="https://www.fsal.sm/"><img src="{{ '/css/2025_style/img/logos/sanmarino.png' | prepend: site.baseurl }}" alt="San Marino Athletics Federation" height="100" ></a></span>
            </div>
            <div class="col-md-4">
                <span class="copyright">Supported by: <img src="{{ '/css/2025_style/img/logos/youstar.png' | prepend: site.baseurl }}" alt="YouStar" height="30" ></span>
            </div>
            <!-- div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
                    {% endfor %}
                </ul>
            </div-->
        </div>
    </div>
</footer>