<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">#AthTech25</h2>
                </div>
            </div>

            <div class="row container">
                <blockquote>AthTech, the Athletics Technology Conference, is a meeting place for all the people working behind the scenes to make the sport more enjoyable and easier to manage.</blockquote>

                <p>Previous editions focused on standardisation and data flows to help countries digitize the sport and save time. This time, we will focus on how all the data and content can be used, to offer great user experiences to athletes and fans or to improve the economics of the sport.</p>   
                <p>Come and hear from World and European athletics, from member federations, race organisers and service providers, to be at the cutting edge of the sport!</p>

                <p>Read all details <a href="{{ '/2025/about' | prepend: site.baseurl }}">about AthTech 2025</a> or check what happened in <a href="http://www.european-athletics.org/mm/Document/Corporate/Whatwedo/01/28/28/98/AthTechConference_Minutes_English.pdf">2017</a>, <a href="https://drive.google.com/drive/folders/1D5Ia4gv8NtnLKySEbhjrpiGONVnppaYT?usp=sharing">2018</a>, <a href="/2021"/>2021</a>, and <a href="https://www.european-athletics.com/news/record-numbers-attend-fifth-ath-tech-data-conference-in-malta">2023</a>. 
                </p>
                
                <!-- TODO link to registration -->
                <p style="text-align: center"><a href="#" disabled class="btn btn-xl">Registration Will Open Soon</a></p>
            </div>
        </div>
    </section>