---
layout: 2018_default
permalink: /agenda
title: AthTech18 Agenda
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>

        <h2>Tuesday 9<sup>th</sup> <abbr title="October">Oct</abbr></h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>
            </thead>
            <tbody>
                {% for agenda in site.data.twenty_18.agendas_1 %}
                    <tr>
                        <td>{{ agenda.time }}</td>
                        <td>{{ agenda.info }}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>

        <h2>Wednesday 10<sup>th</sup> <abbr title="October">Oct</abbr></h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>
            </thead>
            <tbody>
                {% for agenda in site.data.twenty_18.agendas_2 %}
                    <tr>
                        <td>{{ agenda.time }}</td>
                        <td>{{ agenda.info }}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>

        <h2>Thursday 11<sup>th</sup> <abbr title="October">Oct</abbr></h2>
        <h3>Collaboration Day</h3>
        <p>Feel free to travel home, or to stay and get into depth to work on common problems.</p>
        <p>Space will be available for breakout groups to stay, study particular problems and reach conclusions.</p>
        
        

    </div>