<!-- Clients Aside -->
    <section id="team">
    <aside class="clients" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organising Committee</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-2 logo">
                    <div style="text-align:center"><strong>Nicolas Launois</strong></div>
                    <a href="http://www.european-athletics.org" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2023_style/img/logos/ea_logo.png" class="img-responsive img-centered" alt="European Athletics">
                    </a>
                </div>
                <div class="col-md-2 logo">
                    <div style="text-align:center"><strong>Andrew Robinson</strong></div>
                    <a href="https://opentrack.run/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2023_style/img/logos/opentrack.png" class="img-responsive img-centered" alt="OpenTrack">
                    </a>
                </div>
                <div class="col-md-2 logo">
                    <div style="text-align:center"><strong>Martin Alvarez</strong></div>
                    <a href="https://opentrack.run/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2023_style/img/logos/huawei-cbg-2023.png" class="img-responsive img-centered" alt="Huawei">
                    </a>
                </div>
                <div class="col-md-3">
                </div>
            </div>       
        </div>
    </aside>
</section>
