<!-- Clients Aside -->
    
    <aside class="clients" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organisers</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/ea_logo.png" class="img-responsive img-centered" alt="European Athletics">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/ctic.png" class="img-responsive img-centered" alt="CTIC">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/w3c.png" class="img-responsive img-centered" alt="W3C Spain">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/opentrack.png" class="img-responsive img-centered" alt="Opentrack">
                    </a>
                </div>
            </div>
        </div>
    </aside>