---
layout: 2021_default
permalink: /2021/agenda
title: AthTech21 Agenda
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <head>
        <style>
            .collapsible {
              background-color: #3cb371;
              color: white;
              cursor: pointer;
              padding: 18px;
              width: 95%;
              border: none;
              text-align: left;
              outline: none;
              font-size: 15px;
              margin: -5px;
            }
            
            .active, .collapsible:hover {
              background-color: #246B44;
            }
            
            .collapsible:after {
              content: '\002B';
              color: white;
              font-weight: bold;
              float: right;
              margin-left: 5px;
            }
            
            .active:after {
              content: "\2212";
            }
            
            .content {
              padding: 0 18px;
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.2s ease-out;
              background-color: #f1f1f1;
              font-size: 12px;
              width: 95%;
              margin: 0px;
              column-width: auto;
            }

            .secondary{
                color: #3cb371;
                font-weight: bold;
            }

            td > p {
                line-height: 1.1;
                font-size: 100%;
            }
        </style>
    </head>



    <div class="event black-frame">
      <h1>{{ page.title }}</h1>
      <p>Below is the agenda for AthTech21.  The agenda is "built by the participants" - we hope
        many of you will give full or mini-presentations on the themes, and tell us what is happening
        in your country or with your products.   It should therefore develop in detail rapidly.
        Please email <a href="mailto:athtech@opentrack.run">athtech@opentrack.run</a> if you have something to share, and we will add you here!

        </p>
        <p>We also have extensive space for workshops and small meetings the days before and after the main
            meeting</p>

        <p><em>You can view the agenda from our last data conference Athtech18 <a href="http://athtech.run/2018/agenda">here</a>.</em></p>

      

        <!---
        <h2>Workshops and seminars</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Day</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>
            </thead>
            <tbody>
                {% for agenda in site.data.twenty_21.agendas_1 %}
                    <tr>
                        <td>{{ agenda.time }}</td>
                        <td>{{ agenda.info }}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
        -->

        <h2>Monday 20th September</h2>
        <p>Available for hackathons and workshops. Zadar University is offering a co-working hub adjacent to the conference hall, and dormitory accommodation, for anyone who wants to work in Zadar.</p>

        <h2>Tuesday 21st September</h2>
        <p>Available for hackathons and workshops, as above.</p>
        <p>Companies presenting at AthTech are welcome to organise training events, workshops and presentations.</p>
        
        <h2>Wednesday 22nd September</h2>
        <h3>Day 1 athletics conference talks</h3>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Lecture Hall</center></th>  
                    <th class="row-2 agenda-activity"><center>Room 2</center></th>  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09:00-09:15</td>
                    <td colspan="2">
                        <p><b>Practical Introductions</b>
                        <br><i>Duje Bonacci, Andy Robinson</i>
                    </td>
                </tr>
                <tr>
                    <td>09:15-10:15</td>
                    <td colspan="2">
                        <p><b>Keynote 1: <br>View from governing bodies, where they are, where they want to go</b>
                        <br>We will hear the technology strategy of the 2 biggest international athletics bodies and have the opportunity for questions.
                        <ul><li>Introduction from the Rector of Zadar University</i></li>
                        <li>Christian Milz <i>(CEO, European Athletics, speaking remotely)</i></li>
                        <li>Nicolas Launois <i>(Head of Digital & Data, European Athletics)</i></li>
                        <li>An Dang Duy <i>(CIO, World Athletics)</i></li></ul></p>
                    </td>
                </tr>

                <tr>
                    <td>10:15-10:30</td>
                    <td colspan="2">Coffee Break</td>
                </tr>


                <tr>
                    <td>10:30-11:30</td>
                    <td colspan="2">
                        <p><b>Progress towards a single athletics calendar</b>
                        <br>Three presentations looking at the road to making everyone’s life easier by having a common calendar repository and set of standards.</p>
                        <ul><li>After the first year of the European project we will review the challenges ahead. <br><i>(Andy Robinson, OpenTrack CEO, and Nicolas Launois, EA Head of Digital)</i></li>
                        <li>The drive to a common data standard to allow calendar events to be passed between systems; overview of tools and techniques to work with calendars. <br><i>(Martin Alvarez, Huawei)</i></li>
                        <li>Presenting event-level data from the calendar to allow search by date, location and desired event parameters <br><i>(Duje Bonacci, trackmeetings.info)</i></li>
                        </ul>World Athletics will introduce their plans and subsequent workshop
                    </td>
                </tr>


                <tr>
                    <td>11:30-12:30</td>
                    <td colspan="2">Brunch and Networking</td>
                </tr>


                <tr>
                    <td>12:30-13:30</td>
                    <td> 
                        <p><b>Premium athletics with grass-roots budgets</b> 
                        <br>How can meetings below the TV and sponsorship threshold be successful and thrive? We look at what's happening at the upper club level</p>
                        <button class='collapsible'>Improving the Quality of Meetings<br><i>Pablo Cassina (President, EAP Circuit)</i></button>
                        <div class='content'>
                        <p><i>Synopsis to be provided</i></p>
                        </div>
                        <button class='collapsible'>Success of Open Meetings<br><i>George Loxton (President, University of Birmingham AC)</i></button>
                        <div class='content'>
                        <p><i>Symposis to be provided</i></p>
                        </div>
                        <button class='collapsible'>Timing: The Past, Present and Future<br><i>Don Anderson (Premier Timing, UK)</i></button>
                        <div class='content'>
                        <p>Don's firm has been providing photofinish and chip timing services to over 80 meetings each summer in the London area, for many years.
                        <br>He'll present an overview of how things have developed, not just technically but in the organisation of the sport.</p>
                        </div>

                    </td>
                    <td> 
                        <p><b>Calendar Seminar - World Athletics</b> 
                    </td>
                </tr>

                <tr>
                    <td>13:30-14:00</td>
                    <td colspan="2">Break</td>
                </tr>

                <tr>
                    <td>14:00-15:30</td>
                    <td colspan="2">
                        <p><b>Live Broadcast and Streaming</b>
                        <br>Covid has taught us that people want to watch athletics at all levels from low key fixtures up to major championships. We show options available for a range of budgets.
                        <button class='collapsible'>European Athletics<br><i>To be confirmed</i></button>
                        <div class='content'>
                        <p>Technical set-up for European Athletics live streaming, streaming figures in 2021, and a case study of a specific German language remote production and streaming.</p>
                        </div>
                        <button class='collapsible'>IsoLynx: Live Athlete Tracking, and its use in TV Broadcasting<br><i>Paul Castel (MatSport) and Antonio Seoane (ATOS)</i></button>
                        <div class='content'>
                        <p></p>
                        </div>
                        <button class='collapsible'>Streaming Elite-Level Meetings in Serbia<br><i>Danilo Lukic (Elegra)</i></button>
                        <div class='content'>
                        <p></p>
                        </div>
                        <button class='collapsible'>Affordable Livestreaming<br><i>Jonny Currie (University of Birmingham AC)</i></button>
                        <div class='content'>
                        <p>High-end athletics events can afford to bring in professional livestream production companies to cover their meetings, but there is an increasing demand for live media coverage of smaller scale events too.
                        <br>Affordable and accessible livestreaming software is on the rise, and local events are now able to provide live media coverage on a limited budget.
                        <br>A hands-on demonstration will be provided of how high-level but small-scale athletics meetings have been broadcast in the UK using OBS streaming software and OpenTrack TV graphics, as well as a discussion on innovation in the area and how grassroots athletics can be promoted to a wider audience.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>15:30-16:00</td>
                    <td colspan="2">
                        <p><b>Introductions from Service Companies</b></p><br><i>Chair: Nicolas Launois, European Athletics</i>
                        <br>Companies at AthTech will have a strict 5 minutes to introduce themselves and what they offer the athletics world ahead of the technology demonstrations. Companies include Opentrack, Humotion, Seltec, Trackmeetings.info, Atletiek.nu and Atletica.me
                    </td>
                </tr>

                <tr>
                    <td>16:00-16:15</td>
                    <td colspan="2">End of formal proceedings; stroll to stadium</td>
                </tr>

                <tr>
                    <td>16:30-18:30</td>
                    <td colspan="2">
                        <p><b>Vendor technology demonstrations at the stadium</b></p><br>Street food, breakout rooms available (until as late as you want).
                          <br><a href='https://opentrack.run/'>OpenTrack</a> will be demonstrating their competition management system; and holding an annual feedback meeting for their customers at AthTech.
                          <br><a href='https://humotion.net/en/home/'>Humotion</a> will demonstrate their solution to capture and record training activities and results.
                          <br><a href='https://trackmeetings.info/'>Trackmeetings.info</a> will demonstrate how their tool is used for searching for competitions and creating your personal 'favourites' list.
                          <br>Expert users will be demonstrating <a href='https://trackmeetings.info/'>FinishLynx</a> in case anyone wants to learn more about PhotoFinish systems.
                          
                    </td>
                </tr>

                <tr>
                    <td>Evening</td>
                    <td colspan="2">Dinner provided for EA Delegates at Hotel Kolovare; plus numerous informal dining options in the Old Town and seafront</td>
                </tr>

            </tbody>
        </table>

        <h2>Thursday 23rd September</h2>
        <h3>Day 2 athletics conference talks</h3>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Lecture Hall</center></th>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09:00-10:30</td>
                    <td>
                        <p><b>Practical Introductions</b>
                        <br><i>Duje Bonacci, Andy Robinson</i>
                    </td>
                </tr>
                <tr>
                    <td>09:15-10:15</td>
                    <td>
                        <p><b>Keynote 2: <br>Digital Visions - the view from National Federations</b>
                        <br><br>Panel session with speakers from many countries, presenting briefly on their technology successes and problems, along with a moderated discussion and questions from the floor.
                        <br><br>Synthesis at the end - Common needs and areas to collaborate.</p>
                    </td>
                </tr>

                <tr>
                    <td>10:30-11:00</td>
                    <td><b>GDPR - The Age of Data Protection</b>
                    <br>How is technology evolving in response to changes in data protection? Markus Knipp, European Athletics' Data Protection Officer, provides an insight into this evolving field.
                    </td>
                </tr>

                <tr>
                    <td>11:00-12:00</td>
                    <td>
                        <p><b>Brunch & networking.</b> Breakout rooms available.</p>
                    </td>
                </tr>

                <tr>
                    <td>12:00-13:15</td>
                    <td> 
                        <p><b>The Future of Communicating with Fans</b>
                            <br>Athletics is the best sport in the world, so how do we keep the fan base engaged? What technology could make the experience even better?
                            <br><i>Chaired by Andy Robinson, OpenTrack</i>
                            <ul><li>Social Media - What are the best strategies for communication?</li>
                            <li>Technology - How can we show the physicality of our athletes to a young audience, for example through live splits, instantaneous speeds and javelin attack angles?</li>
                            <li>Look to the Future - How can we engage fans and help the sport generate revenue?</li>
                            <li>Virtual Athletics during COVID - a Social Success Story; Jonny Currie, University of Birmingham Athletics Club</li></ul><br>We invite any attendees with stories to tell of successful social media and new engagement channels - please get in touch and prepare short talks, and we'll list you here!                            
                    </td>
                </tr>

                <tr>
                    <td>13:15-13:30</td>
                    <td>Break</td>
                </tr>

                <tr>
                    <td>13:30-14:30</td>
                    <td>
                    <p><b>Non-Fungible Tokens (NFTs) - Monetising the Magic Moments</b></p><br>Non-Fungible Tokens are perhaps the biggest new thing in sports marketing in 2021.  Well established in the arts, NFTs are allowing professional sports like the NBA to capture the moment and monetize it, letting fans own a slice of the memories.  We will explore how this might apply to athletics, with two expert organisations speaking.  
                    <button class='collapsible'>Blockchain Technology – Examples of how NFTs can be applied to sport<br><i>Fabrice Doreau, Atos</i></button>
                    <div class='content'>
                    </div>
                    <button class='collapsible'>NFTs - Attaching Value to Digital Assets<br><i>Hrvoje Zuanic, Endemic</i></button>
                    <div class='content'>
                    <p>Zagreb-based startup Endemic is a platform connecting established artists and the real-world art with the newly growing NFT market.  Ideas will be presented to help sport generate new revenue streams through NFTs</p>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>14:30-15:00</td>
                    <td>Break</td>
                </tr>

                <tr>
                    <td>15:00-16:30</td>
                    <td>
                        <p><b>Documenting the Sport: Gathering Records and Historical Performances</b>
                            <br>Performances can only be appraised if we know the history of the event, at all scales from age group performances to world records.
                            <br><br>How can we standardise the storage of records (eg. National, Masters, Club, Meeting, Title Holders)?
                            <br>How do we communicate the stories behind the performances?
                            <br><br><i>Ivan Pukšar, Croatian Masters Athletics
                            <br>Mirko Jalava, Tilastopaja
                            <br>Andy Weir, OpenTrack
                            <br>Martin Alvarez, World Wide Web Consortium</i></p>
                    </td>
                </tr>

                <tr>
                    <td>16:30-16:45</td>
                    <td>
                        <div class='secondary'>Closing Remarks and Thank You!</div>
                        <br>Any final matters - and thoughts on AthTech 2022! 
                    </td>
                </tr>

                <tr>
                    <td>16:45 onwards</td>
                    <td>Room available for in-depth networking and breakout rooms</td>
                </tr>

                <tr>
                    <td>17:00-19:30</td>
                    <td><b>OpenTrack Masters Gala & EAP Meeting</b>
                        <br>Head down to the stadium for live athletics action, and even compete yourself!
                    </td>
                </tr>
                
                <tr>
                    <td>20:00 onwards</td>
                    <td>
                        <p><b>Dinner on the seafront - Dva Ribara</b></p>
                    </td>
                </tr>

            </tbody>
        </table>
        <!-- <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>
            </thead>
            <tbody>
                {% for agenda in site.data.twenty_21.agendas_thurs %}
                    <tr>
                        <td>{{ agenda.time }}</td>
                        <td>{{ agenda.info }}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table> -->

        <h2>Friday 24th September</h2>
        <p>Available for meetings and workshops as needed</p>

        
        <h2>Call for topics</h2>
        <h3>What would you like to see?</h3>
        <p>If you have any ideas or suggestions, or would like to get in touch about delivering a seminar/workshop yourself, please email us at <a href="mailto://athtech@opentrack.run">athtech@opentrack.run</a>.</p>
        

    </div>


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
    </script>
