---
layout: 2021_default
permalink: /2021/agenda
title: AthTech21 Agenda
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <head>
        <style>
            .collapsible {
              background-color: #3cb371;
              color: white;
              cursor: pointer;
              padding: 18px;
              width: 95%;
              border: none;
              text-align: left;
              outline: none;
              font-size: 15px;
              margin: -5px;
            }
            
            .active, .collapsible:hover {
              background-color: #246B44;
            }
            
            .collapsible:after {
              content: '\002B';
              color: white;
              font-weight: bold;
              float: right;
              margin-left: 5px;
            }
            
            .active:after {
              content: "\2212";
            }
            
            .content {
              padding: 0 18px;
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.2s ease-out;
              background-color: #f1f1f1;
              font-size: 12px;
              width: 95%;
              margin: 0px;
              column-width: auto;
            }

            .secondary{
                color: #3cb371;
                font-weight: bold;
            }

            td > p {
                line-height: 1.1;
                font-size: 100%;
            }
        </style>
    </head>



    <div class="event black-frame">
      <h1>{{ page.title }}</h1>
      <p>Below is the agenda for AthTech21.  The agenda is "built by the participants" - we hope
        many of you will give full or mini-presentations on the themes, and tell us what is happening
        in your country or with your products.   It should therefore develop in detail rapidly.
        Please email <a href="mailto:athtech@opentrack.run">athtech@opentrack.run</a> if you have something to share, and we will add you here!

        </p>
        <p>We also have extensive space for workshops and small meetings the days before and after the main
            meeting</p>

        <p><em>You can view the agenda from our last data conference Athtech18 <a href="http://athtech.run/2018/agenda">here</a>.</em></p>

      

        <!---
        <h2>Workshops and seminars</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Day</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>
            </thead>
            <tbody>
                {% for agenda in site.data.twenty_21.agendas_1 %}
                    <tr>
                        <td>{{ agenda.time }}</td>
                        <td>{{ agenda.info }}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
        -->

        <h2>Monday 20th September</h2>
        <p>Available for hackathons and workshops. Zadar University is offering a co-working hub adjacent to the conference hall, and dormitory accommodation, for anyone who wants to work in Zadar.</p>

        <h2>Tuesday 21st September</h2>
        <p>Available for hackathons and workshops, as above.</p>
        <p>Companies presenting at AthTech are welcome to organise training events, workshops and presentations.</p>
        
        <h2>Wednesday 22nd September</h2>
        <h3>Day 1 athletics conference talks</h3>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Lecture Hall</center></th>  
                    <th class="row-2 agenda-activity"><center>Room 2</center></th>  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09:00-09:15</td>
                    <td colspan="2">
                        <p><b>Practical Introductions</b>
                        <br><i>Duje Bonacci, Andy Robinson</i>
                    </td>
                </tr>
                <tr>
                    <td>09:15-10:15</td>
                    <td colspan="2">
                        <p><b>Keynote 1: The international governing bodies</b>
                        <br>We will hear the technology strategies of the 2 biggest international athletics bodies and have the opportunity for questions.
                        <ul><li>Introduction from the Rector of Zadar University</i></li>
                        <li>Christian Milz <i>(CEO, European Athletics, speaking remotely)</i></li>
                        <li>Nicolas Launois <i>(Head of Digital & Data, European Athletics)</i></li>
                        <li>An Dang Duy <i>(CIO, World Athletics)</i></li></ul></p>
                    </td>
                </tr>

                <tr>
                    <td>10:15-10:30</td>
                    <td colspan="2">Coffee Break</td>
                </tr>


                <tr>
                    <td>10:30-11:30</td>
                    <td colspan="2">
                        <p><b>Progress towards a single athletics calendar and database</b>
                        <br>Four presentations looking at the road to making everyone’s life easier by having a common calendar repository and set of standards.</p>
                        <button class='collapsible'>An Open Calendar for the Sport<br><i>Andy Robinson, OpenTrack CEO; Nicolas Launois, EA Head of Digital</i></button>
                        <div class='content'>
                        <p>Overview of where we came from and where we are going, and the progress towards a common open-data calendar for the sport.  How have things gone after the first year managing European events with it?</p>
                        </div>


                        <button class='collapsible'>Common Data - Calendar tools<br><i>Martin Alvarez, Huawei</i></button>
                        <div class='content'>
                        <p>The drive to a common data standard to allow calendar events to be passed between systems; an overview of tools and techniques to work with calendars; what becomes possible?</p>
                        </div>
                        <button class='collapsible'>Shared Calendar - The Ease of Searching<br><i>Duje Bonacci, Trackmeetings.info</i></button>
                        <div class='content'>
                        <p>Presenting event-level data from the calendar to allow search by date, location and desired event parameters.</p>
                        </div>
                        <button class='collapsible'>Common Database - Venues<br><i>Johannes Rosenmöller & Katharina Breuker, Humotion</i></button>
                        <div class='content'>
                        <p>Humotion's progress towards a common database for all athletics venues, and how we can bring this together</p>
                        </div>

                        <button class='collapsible'>World Athletics calendar workshop introduction<br><i>(speakers TBC)</i></button>
                        <div class='content'>
                        <p>Tokyo 2020 has shown that, more and more often the question “where can I qualify for the Olympic Games” is being asked. In other sports it is one which can be easily answered but in Athletics, this is still very much open-ended. Time has come for World Athletics to address this important matter and, consequently, take an active and leading role in determining a centralised global calendar of rule compliant competitions at all levels. </p>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>11:30-12:30</td>
                    <td colspan="2">Brunch and Networking</td>
                </tr>


                <tr>
                    <td>12:30-13:45</td>
                    <td> 
                        <p><b>Premium athletics with grass-roots budgets</b> 
                        <br>How can meetings below the TV and sponsorship threshold be successful and thrive? We look at what's happening at the middle level of the sport, from both the technology and economic angles</p>
                        <button class='collapsible'>Improving the Quality of Meetings<br><i>Pablo Cassina (President, EAP Circuit)</i></button>
                        <div class='content'>
                        <p><i>Synopsis to be provided</i></p>
                        </div>
                        <button class='collapsible'>Successful Open Meetings<br><i>George Loxton (President, University of Birmingham AC)</i></button>
                        <div class='content'>
                        <p><i>The student-run University of Birmingham athletic club put on 3 extremely successful open meetings this summer, with hundreds of competitors and many elite, and a good presence on social media - all are financiall self sustaining.  This talk will cover some of the key things that make an open meeting work.</i></p>
                        </div>
                        <button class='collapsible'>Timing: The Past, Present and Future<br><i>Don Anderson (Premier Timing, UK)</i></button>
                        <div class='content'>
                        <p>Don's firm has been providing photofinish and chip timing services to over 80 meetings each summer in the London area, for many years.
                        <br>He'll present an overview of how things have developed, not just technically but in the organisation of the sport.</p>
                        </div>
                        <button class='collapsible'>Masters Athletics: why it matters<br><i>Giuseppe Minetti, British Masters Athletics Federation</i></button>
                        <div class='content'>
                            The BMAF has more than 6000 members and has a vibrant circuit of well-run competitions - all financially self sustaining.  There's a similar picture across Europe.  We'll look at how it works, how it can be promoted and the good it brings to the test of the sport.
                        </div>


                    </td>
                    <td> 
                        <p><b>Calendar Seminar - World Athletics</b></p>
                        <div class='content'>
                        <p>Tokyo 2020 has shown that, more and more often the question “where can I qualify for the Olympic Games” is being asked. In other sports it is one which can be easily answered but in Athletics, this is still very much open-ended. Time has come for World Athletics to address this important matter and, consequently, take an active and leading role in determining a centralised global calendar of rule compliant competitions at all levels. </p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>13:45-14:00</td>
                    <td colspan="2">Break</td>
                </tr>

                <tr>
                    <td>14:00-15:30</td>
                    <td colspan="2">
                        <p><b>Live Broadcast and Streaming</b>
                        <br>Covid has taught us that people want to watch athletics at all levels from low key fixtures up to major championships. We show options available for a range of budgets.
                        <button class='collapsible'>Improvements to European Athletics Live Broadcasts<br><i>Marcel Wakim, Head of TV and New Business)</i></button>

                        <button class='collapsible'>IsoLynx: Live Athlete Tracking, and its use in TV Broadcasting<br><i>Paul Castel, MatSport</i></button>
                        <div class='content'>
                        <p></p>
                        </div>
                        <button class='collapsible'>Streaming Elite-Level Meetings in Serbia<br><i>Danilo Lukic, Elegra</i></button>
                        <div class='content'>
                        <p></p>
                        </div>
                        <button class='collapsible'>Affordable Livestreaming<br><i>Jonny Currie, University of Birmingham AC</i></button>
                        <div class='content'>
                        <p>High-end athletics events can afford to bring in professional livestream production companies to cover their meetings, but there is an increasing demand for live media coverage of smaller scale events too.
                        <br>Affordable and accessible livestreaming software is on the rise, and local events are now able to provide live media coverage on a limited budget.
                        <br>A hands-on demonstration will be provided of how high-level but small-scale athletics meetings have been broadcast in the UK using OBS streaming software and OpenTrack TV graphics, as well as a discussion on innovation in the area and how grassroots athletics can be promoted to a wider audience.</p>
                        </div>
                        <button class='collapsible'>Livestreaming for clubs<br><i>Mark van Tubergen, Athletics.app</i></button>
                        <div class='content'>
                        <p>How we enable all clubs in The Netherlands and Belgium to provide professional videographics for their livestream at no additional costs and almost no extra volunteers.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>15:30-16:00</td>
                    <td colspan="2">
                        <p><b>Introductions from Service Companies</b></p><br><i>Chair: Nicolas Launois, European Athletics</i>
                        <br>Companies at AthTech will have a strict 5 minutes to introduce themselves and what they offer the athletics world ahead of the technology demonstrations. Companies include Opentrack, Humotion, Seltec, Trackmeetings.info, Athletics.app and Atletica.me
                        <br><i>If you want to introduce yourselves, get in touch to request a slot.</i>
                    </td>
                </tr>

                <tr>
                    <td>16:00-16:15</td>
                    <td colspan="2">End of formal proceedings; stroll to stadium or stay at university</td>
                </tr>

                <tr>
                    <td>16:30-18:30</td>
                    <td colspan="2">
                        <p><b>Vendor technology demonstrations (at University)</b></p><br>Street food, breakout rooms available (until as late as you want).
                          <br><a href='https://opentrack.run/'>OpenTrack</a> will be demonstrating their competition management system; and holding an <b>annual feedback meeting</b> for their customers at AthTech.
                          <br><a href='https://humotion.net/en/home/'>Humotion</a> will demonstrate their solution to capture and record training activities and results.
                          <br><a href='https://trackmeetings.info/'>Trackmeetings.info</a> will demonstrate how their tool is used for searching for competitions and creating your personal 'favourites' list.
                          <br><a href='https://www.seltec-sports.com/'>Seltec</a> is available to demo their system, in wide use in Austria, Germany and Switzerland.
                          <br><a href='https://www.athletics.app/'>Athletics.app</a> will demonstrate the cloud based competition management software and how it is used to increase the fan engagement in The Netherlands and Belgium.
                          <br><a href='https://www.atletica.me/'>Atletica.me</a> will demonstrate their social platform presenting athlete profiles and results.
                          <br>Expert users will be demonstrating <a href='https://trackmeetings.info/'>FinishLynx</a> in case anyone wants to learn more about PhotoFinish systems.
                          
                    </td>
                </tr>

                <tr>
                    <td>Evening</td>
                    <td colspan="2">Dinner provided for EA Delegates at Hotel Kolovare; plus numerous informal dining options in the Old Town and seafront</td>
                </tr>

            </tbody>
        </table>

        <h2>Thursday 23rd September</h2>
        <h3>Day 2 athletics conference talks</h3>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Lecture Hall</center></th>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09:00-09:15</td>
                    <td>
                        <p><b>Wake-up call and overview of the day!</b>
                        <br><i>Duje Bonacci</i>
                    </td>
                </tr>
                <tr>
                    <td>09:15-10:15</td>
                    <td>
                        <p><b>Keynote 2: Digital Visions - the view from National Federations</b>
                        <p>Panel session with speakers from many countries, presenting briefly on their technology successes 
                        and problems, along with a moderated discussion and questions from the floor.</p>
                        <p>Full talks from <b>Netherlands</b> and <b>Germany</b>, brief news from <b>Norway</b>, <b>Bosnia</b> and we hope many more!</p>
                        <p>Synthesis at the end - Common needs and areas to collaborate.</p>
                    </td>
                </tr>

                <tr>
                    <td>10:30-11:00</td>
                    <td><b>GDPR - The Age of Data Protection</b>
                    <br>How is technology evolving in response to changes in data protection? Markus Knipp, European Athletics' Data Protection Officer, provides an insight into this evolving field.
                    </td>
                </tr>

                <tr>
                    <td>11:00-12:00</td>
                    <td>
                        <p><b>Brunch & networking.</b> Breakout rooms available.</p>
                    </td>
                </tr>

                <tr>
                    <td>12:00-13:15</td>
                    <td> 
                        <p><b>The Future of Communicating with Fans</b></p>
                            <p>We'll try to draw together everything that's making the sport more enjoyable and compelling for athletes and fans.  After three presentations, we'll have a general panel discussion on what works, and the use of Social Media.
                            
                            <button class='collapsible'>European Athletics Social Media results<br><i>Rob Faulkner, Headof Communicatiions</i></button>


                            <button class='collapsible'>Virtual Athletics during COVID - a Social Success Story<br><i>Jonny Currie, University of Birmingham Athletics Club</i></button>
                            <div class='content'>
                            <p>How some quick thinking created a craze that united and invigorated the sport in the UK during the pandemic</p>
                            </div>

                            <button class='collapsible'>Turning sports data into fan emotions<br><i>Stefan Feichtegger, CEO, Seltec</i></button>
                            <div class='content'>
                            <p>From small club competitions to events with gold status, they all have the same problem - how to make athletics easier for spectators to consume. On the one hand, on-site at the competition venue. On the other hand, to bring the sport closer to people at their home and on their mobile devices</p>
                            </div>

                            <button class='collapsible'>Cloud Based Competition Management in Belgium<br><i>Mark van Tubergen, Atletiek.app</i></button>
                            <div class='content'>
                            <p>Brief look at how Athletics.app has changed Belgium in less than 1 year, during and after COVID-19. From a full-paper solution to a full online solution, increasing fan engagement.</p>
                            </div>

                            <p><i>If you have a story to tell or something to show - please get in touch and prepare a slide or two if needed, and we'll fit you in here!</i></p>                            
                    </td>
                </tr>

                <tr>
                    <td>13:15-13:30</td>
                    <td>Break</td>
                </tr>

                <tr>
                    <td>13:30-14:30</td>
                    <td>
                    <p><b>Non-Fungible Tokens (NFTs) - Monetising the Magic Moments</b></p><br>Non-Fungible Tokens are perhaps the biggest new thing in sports marketing in 2021.  Well established in the arts, NFTs are allowing professional sports like the NBA to capture the moment and monetize it, letting fans own a slice of the memories.  We will explore how this might apply to athletics, with two expert organisations speaking.  
                    <button class='collapsible'>Blockchain Technology – Examples of how NFTs can be applied to sport<br><i>Fabrice Doreau, Atos</i></button>
                    <div class='content'>
                    </div>
                    <button class='collapsible'>NFTs - Attaching Value to Digital Assets<br><i>Hrvoje Zuanic, Endemic</i></button>
                    <div class='content'>
                    <p>Zagreb-based startup Endemic is a platform connecting established artists and the real-world art with the newly growing NFT market.  Ideas will be presented to help sport generate new revenue streams through NFTs</p>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>14:30-15:00</td>
                    <td>Break</td>
                </tr>



                <tr>
                    <td>15:00-15:45</td>
                    <td>
                        <p><b>Standardising and improving Records Management</b></p>
                        
                        <button class='collapsible'>Masters records management<br><i>Ivan Pukšar, European Masters Athletics</i></button>
                        <div class='content'>Masters records are a huge source of motivation to the competitors, but hard to gather.  Ivan has been maintaining all Balkan masters records and plays a key role in European Masters Athletics; he will give an overview of how it's done currently.
                        </div>

                        <button class='collapsible'>A records management proposal<br><i>Andy Robinson, OpenTrack</i></button>
                        <div class='content'>
                            <p>
                            Every level of the sport keeps its records - national, age group (junior and masters), regional, club, meeting records.   Can we improve the collection through a central, democratic Open Data records facility, which each 'owner' self-manages?</p>
                            <p>Could this help small countries gather rankings better? Could it help meetings to be run with less effort?</p>
                            <p>Would it help "tell better stories", identifying when records are broken?</p> 
                            <p>If it's desirable, how could it cover or spread its operating costs?</p>
                        </div>


                    </td>
                </tr>

                <tr>
                    <td>15:45-16:15</td>
                    <td>
                        <p><b>Stories behind the statistics</b>
                        <br>Athletics has a huge base of statistical data. How do we communicate the stories behind the performances?</p>


                        <button class='collapsible'>Presenting data in new ways<br><i>Andy Weir, OpenTrack</i></button>
                        <div class='content'>
                            Presenting a roundup of good data visualisations and ways to tell the stories - both race day and historical 
                        </div>

                        <p>We'll invite anyone to submit links to good and novel presentations of information, so we can quickly see many.  Maybe even build a presentation as we go!  So start gathering links to cool stuff!</p>
                    </td>
                </tr>

                <tr>
                    <td>16:15-16:30</td>
                    <td>
                        <div class='secondary'>Closing Remarks and Thank You!</div>
                        <br>Any final matters - and thoughts on AthTech 2022! 
                    </td>
                </tr>

                <tr>
                    <td>16:45 onwards</td>
                    <td>Room available for in-depth networking and breakout rooms</td>
                </tr>

                <tr>
                    <td>17:00-19:30</td>
                    <td><b>OpenTrack Masters Gala & EAP Meeting</b>
                        <br>Head down to the stadium for live athletics action, and even compete yourself!  (Or relax at the beach, old town and bars - we won't judge you!)
                    </td>
                </tr>
                
                <tr>
                    <td>20:00 onwards</td>
                    <td>
                        <p><b>Dinner on the seafront - Dva Ribara</b></p>
                    </td>
                </tr>

            </tbody>
        </table>
        <!-- <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>
            </thead>
            <tbody>
                {% for agenda in site.data.twenty_21.agendas_thurs %}
                    <tr>
                        <td>{{ agenda.time }}</td>
                        <td>{{ agenda.info }}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table> -->

        <h2>Friday 24th September</h2>
        <p>Available for meetings and workshops as needed</p>

        
        <h2>Call for topics</h2>
        <h3>What would you like to see?</h3>
        <p>If you have any ideas or suggestions, or would like to get in touch about delivering a seminar/workshop yourself, please email us at <a href="mailto://athtech@opentrack.run">athtech@opentrack.run</a>.</p>
        

    </div>


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
    </script>
