<!DOCTYPE html>
<html>

  {% include 2021_data/head.html %}


    <body id="page-top" class="index">

    {% include 2021_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">4<sup>th</sup>Athletics Data Conference<br></div>
                <div class="intro-lead-in"> September 2021</div>
                <div class="intro-lead-in">Zadar (Croatia)</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2021_data/intro.html %}
<!--
    { % include 2018_data/speakers.html % }


    <div class="infobar grid-container">
        <div class="container grid-item">
            <h1>About</h1>
            <img style="max-width: 25%;" width="25%" src="/css/2021_style/img/icon-about.jpeg" alt="Športski centar Višnjik"/>
            <p>Lorem ipsum</p>
            <a href="/2021/competitions" class="page-scroll btn btn-sm">See competitions</a>
        </div>

        <div class="container grid-item">
            <h1>Agenda</h1>
            <img style="max-width: 25%;" width="25%" src="/css/2021_style/img/icon-agenda.jpeg" alt="Športski centar Višnjik"/>
            <p>Lorem ipsum</p>
            <a href="/2021/competitions" class="page-scroll btn btn-sm">See competitions</a>
        </div>

        <div class="container grid-item">
            <h1>Competitions</h1>
            <img style="max-width: 25%;" width="25%" src="/css/2021_style/img/zadar-uni-track.jpg" alt="Športski centar Višnjik"/>
            <p>Lorem ipsum</p>
            <a href="/2021/competitions" class="page-scroll btn btn-sm">See competitions</a>
        </div>

        <div class="container grid-item">
            <h1>Venue</h1>
            <img style="max-width: 25%;" width="25%" src="/css/2021_style/img/zadar.jpg" alt="Športski centar Višnjik"/>
            <p>Lorem ipsum</p>
            <a href="/2021/competitions" class="page-scroll btn btn-sm">See competitions</a>
        </div>
        
    </div>    
-->

    {% include 2021_data/about.html %}
    {% include 2021_data/sponsors.html %}
<!--  
    {% include 2021_data/contact.html %}
-->
    {% include 2021_data/footer.html %}
    {% include 2021_data/speakers_info.html %}
    {% include 2021_data/js.html %}

    </body>
</html>