<!DOCTYPE html>
<html>

  {% include 2018_data/head.html %}


    <body id="page-top" class="index">

    {% include 2018_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">4<sup>th</sup>Athletics Data Conference<br></div>
                <div class="intro-lead-in">1?-2? September 2021</div>
                <div class="intro-lead-in">Zadar (Croatia)</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2018_data/intro.html %}
<!--
    { % include 2018_data/speakers.html % }
-->
    {% include 2018_data/about.html %}
    {% include 2018_data/sponsors.html %}
    {% include 2018_data/contact.html %}
    {% include 2018_data/footer.html %}
    {% include 2018_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>